@use 'variables' as v;

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: v.$main-font;
    font-size: 1.6rem;
}
p {
    font-size: 2rem;
    color: v.$black;
}